# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3

# User uploaded media
media/

# Environment variables
.env
.env.*

# Virtual environment
venv/
env/
.venv/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log